
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
}
<h5> Trang Quản Lý Vé Máy Bay</h5>
<span>Welcome bạn đến với website quản lý vé Bay FTAirline</span>
<div>
    <img src="~/Public/images/flight/flight1.jpg" style="width:100%;" />
</div>